:root{
  --bg:rgb(244, 245, 250);
  --black:rgb(24, 1, 43);
  --ylw:rgb(255, 217, 0);
  --blackB:rgb(22, 0, 43);
  --bgB:rgb(255, 255, 255);
}

#body{
  background:var(--bg);
}
#box{
  width:100%;
  background:var(--bgB);
  margin:0 auto;
  flex-flow:row wrap;
}
#nav{
  background:var(--black);
  border-bottom:1px solid rgb(124, 124, 124);

}
#pcNav{
  flex-flow:row wrap;
  display:none;
  height:100%;
}
#pcNav button{
  padding:5px 10px;
  min-width:30px;
  height:100%;
  font-size:medium;
}
#pcNav button:hover{
  background:rgb(48, 13, 71);
  border-bottom:3px solid red;
  color:rgb(245, 245, 245) !important;

}
#navCtn{
  background:var(--black);
  position:fixed;
 }
#nav *{
  color:rgb(245, 245, 245);
  font-size:x-large;
}
#nav  button:hover{
  color:rgb(155, 4, 255);
  }
#nav button:active{
 color:red;
}
#top{
  min-height:200px;
  background-color:rgb(22, 0, 43);
  border-bottom:1px solid red;
}
#hrF{
  border:none;
border-top:1px solid rgb(168, 168, 168);
background:var(--black);
padding:0;
margin:0;
margin-top:2px;
}
#top *{
  color:white;
}
#top #name{
  width:100%;
  font-weight:bolder;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#top #name *{
  font-weight:bolder;
 
}
#top #name .content{
  font-size:large;
}
#top #action {
  width:100%;
}
#top #action button{
  word-break:keep-all !important;

  min-width:100px !important;
  background:Red;
  
}
#cloud{
  height:102px;
}
#cloud b{
 font-family:cursive;
 }
#image{
  width:100px;
  height:100px;
  position:relative;
  overflow:hidden;
animation:image 2s 2;
transform:rotate(-45deg);
 }
#image:after{
  content:"";
  background:var(--bg);
  background-color:none;
background-image:url("../images/images\ \(5\).jpeg");
background-size:100% 100%;

  height:100px;
  width:100px;
  transform:rotate(45deg);
  display: block;
  animation:image 2s 2;
  }
  h2,h3{
    color:var(--blackB);
    font-weight:bolder;
    border-bottom:1px solid rgb(240, 235, 222);
    background:var(--bgB);
    box-shadow:1px 1px 5px 0px lightgrey;

    
  }#hang{
    width:20px;
    height:20px;
    border-radius:10px;
background:var(--blackB);
color:white;
display:flex !important;
align-items:center;
justify-content:center;
margin:10px 10px;
  }
  #hang:hover{
    background:red;
  }
  #hang span{
    margin-top:-20px;
  }


  
  .Ctn{
    width:90%;
      border-radius:10px;
    background:var(--bgB);
    margin:0 auto;
      box-shadow:1px 1px 20px 0px lightgrey;

    border-top:1px solid var(--ylw);
    background:white;
   
  }
  .Ctn #imgCircle{
    margin-top:-20px;
  }
  .Ctn #imgCircle img{
    width:70px;
    height:70px;
    border-radius:35px;
    border:3px solid rgb(223, 211, 211);
    margin-top:-20px;
  }
  .Ctn i{
    font-family:cursive;
    color:rgb(255, 51, 0);
  }
  .Ctn i .fa{
    color:rgb(4, 0, 255);
  
  }
  button{
    border-radius:2px;
  }
  .Ctn section{
    color:rgb(90, 90, 110);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:lighter;
  }
  #shareBtn{
  background:red;
  color:white;
  margin-lefT:40%;
  }
  #services h4 b{
    color:rgb(255, 95, 2);
    }
  #services{
    width:90%;
    max-width:360px;
    min-width:300px;
     box-shadow:1px 1px 25px 0px rgb(230, 228, 228);
     border-radius:5px;
     margin:0 auto;
     margin-top:10px;
     background:white;
     border:1px solid #a08cf7c0
  }
  section{
    color:rgb(90, 90, 110);
   font-size:large;
  }
  #services section img{
    width:100%;
    height:100px;
    background-color:rgb(88, 78, 78);
    border-radius:1px;
  }
  section #large{
    font-size:large;
  }
  @keyframes image{
    0%{
      width:100px;
      height:100px;    
    }
    100%{
      width:90px;
      height:90px;
    }
  }
  #whyMe{
    flex-flow:row wrap;
    display:flex;
    align-items:space-around;
    justify-content:space-around;
    width:100%;
    max-width:700px;
    margin:0 auto;
  }
  #whyMe div{
    width:40%;
    max-width:200px;
  padding:30px 0px;
    text-align:center;
      word-break:break-all;
margin-top:10px;
background:var(--bgB);
box-shadow:1px 1px 5px 0px lightgrey;
border-radius:5px;

  }
  #whyMe div:hover{
    box-shadow:1px 1px 15px 0px lightgrey !important;
  }
  #whyMe div b{
    word-break:break-word;
    font-size:normal;
  }
  #whyMe div .fa{
    font-size:50px;
    text-shadow:1px 3px white;
  }
  #whyMe span{
  color:rgb(103, 97, 112);
  word-break:break-word;
  }
  #slide{
    height:300px;
    background:var(--bgB);
    flex-flow:row wrap;
    align-items:center;
  }
  #slide .fa{
    font-size:xx-large;
    color:rgb(141, 141, 141);
  }
  #slide .fa:hover{
color:black;
  }
  #slide #slideCtn img{
    width: 100%;
    height:100%;
 
  }
  #slide #slideCtn{
    width:80%;
    height:90%;
    max-width:300px;
  
    margin-top:2.5%;
    background:var(--bg);
    padding:10px;
    box-shadow:1px 1px 50px 0px rgb(207, 206, 218);
    border-radius:10px;
  }
  *{
    transition:all;
    transition-duration:500ms;
    font-family:Lato;
  }
  footer *{
     color:white;
  }
  footer{
    background:var(--black);
    width:100%;
     }
  #form{
    width:300px;
    margin:0 auto;
      text-align:center;
  }
  #form img{
    width:100px;
     height:100px;
    border-radius:50px;
    border:1px solid rgb(32, 13, 68);
  }
  .links .fa:hover{
background:rgb(42, 13, 75);
color:rgb(255, 71, 111);
  }
  textarea{
    width:100%;
  }
  #foot,#foot .fa{
    color:rgb(167, 137, 180);
    text-align:center;
  }
  #form .inputCtn{
    width:100%;
    text-align:left;
    padding:10px 3px;
  background:rgb(42, 13, 75);
  border-radius:5px;
  }
  #form .inputCtn input{
    width:100%;
    padding:3px 5px;
    }
    aside{
      width:100%;
      height:100%;
      position:fixed;
background:rgba(0, 26, 255, 0.096);
transition-duration:20ms;
margin-top:50px;

    }
    aside #close{
      width:30%;
      height:90%;
      color:white;
    }
    aside #menuC{
width:70%;
height:100%;
overflow:hidden;
    }
    aside #menuC{
      background:var(--black);
    }
      aside #menuC *{
        color:rgb(237, 226, 245);
      }
       aside #menuC button{
         width:100%;
         padding:10px 0px;
         border:1px solid rgb(38, 38, 68);
         
       }
       aside #menuC button:hover{
         background:rgb(52, 47, 80);
       }
         aside #menuC button:active{
           color:rgb(219, 201, 201);
           background:rgb(80, 47, 54);
  
         }
         aside{
           width:0;
         }
     .heading{
font-size:x-large;
     }
#openMenu{
  display:block;
}
    @media screen and (min-width:700px){
      #services{
        width:32%;
      }
      #pcNav{
        display:flex;
      }
      #openMenu{
        display:none;
      }
    }   
@media screen and (min-width:450px){
 
  #top #name{
    width:80%;
  }
  #top #action{
    width:20%;
  }
  #image{
    margin-top:10px;
  }
}
/*fun*/
#fast,#good{
  background:rgb(250, 255, 250) !important;
}
label{
  color:rgb(172, 172, 197);
}
#fast .fa,#good .fa{
  color:rgb(2, 228, 10);
}
#surport{
  background:rgb(247, 245, 255) !important;
}
#surport .fa{
  color:rgb(137, 16, 250);
}
#code{
background:rgb(241, 250, 255) !important;
}
#code .fa{
  color:rgb(0, 132, 255);
}
#easy{
  background:rgb(248, 237, 237) !important;
}

#load{
  background:rgb(249, 255, 236) !important;
}
#load .fa,#easy .fa{
  color:rgb(255, 23, 23);
}